header{
    background-color: black;
    height: 80px;
    color: white;
}

.bgcolor{
    background-color: rgb(159, 157, 157);
}

.colorfooter{
    color: rgb(0, 0, 0);
}

footer{
    color: white;
    background-color: rgb(97, 95, 95);
}
.bouton{
    display: flex;
    justify-content: center;
}
.d-flex{
    flex-wrap: wrap;
}

:hover{
    
    transition: 2s;
}